body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red-back {
    background-color: rgb(222,0,0);
}

.green-back {
    background-color: rgb(47,212,132);
}

.lightgrey-back {
    background-color: rgb(250,250,250);
}

.text-color-black {
    color: rgb(51,51,51);
}
.text-color-red {
    color: rgb(222,0,0);
}
.text-color-green {
    color: rgb(47,212,132);
}
.text-color-white {
    color: white;
}
.text-color-yellow {
    color: yellow;
}
.text-color-grey {
    color: lightgray;
}
.text-color-blue {
    color: blue;
}

.round-icon-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    margin: 1.6rem 0px 1rem;
}